/**
 * @author Riwi Syaputra
 * @email riwi.syafutra@erajaya.com
 * @create date 08-07-2021 13:15:14
 * @modify date 08-07-2021 23:35:19
 * @desc [Form Style]
 */

@font-face {
  font-family: metro-polis;
  src: url("../fonts/Metropolis-Medium.otf");
}

@font-face {
  font-family: metro-polis-bold;
  src: url("../fonts/Metropolis-Bold.otf");
}

@font-face {
  font-family: roboto-light-italic;
  src: url("../fonts/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: roboto-reguler;
  src: url("../fonts/Roboto-Regular.ttf");
}

.color-red {
  color: #f13643;
}

.form > .title {
  font-size: 20px;
  color: #f13643;
}

.form-box {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  padding-left: 0px;
  max-width: 80%;
}

.form-action > .form-group > label {
  font-family: metro-polis;
  margin-bottom: 0px;
  font-size: 14px;
}

.form-action > .form-group {
  margin-bottom: 0.5rem;
}

.radio-custom {
  padding-left: 1px;
}
.radio-custom > .form-check-label {
  font-family: roboto-reguler;
  cursor: pointer;
  font-size: 13px;
}

.radio-custom .form-check-input {
  visibility: hidden;
}

.radio-custom .form-check-label::before {
  content: "\f111";
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  margin-right: 5px;
  color: #eae7e7;
}

.radio-custom input[type="radio"]:checked ~ .form-check-label::before {
  color: #f13643;
}

.radio-custom > .form-check-input {
  margin-top: 0.1rem;
}

.custom-input {
  border-radius: 0;
  border: 0px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  font-size: 13px;
  padding: 0px;
  font-family: roboto-reguler;
}
.custom-input:focus {
  border-color: unset;
  box-shadow: unset;
}

.custom-input::placeholder {
  font-size: 12px;
  font-family: roboto-light-italic;
}

.custom-input-select,
select {
  appearance: button;
  display: inline;
  font-size: 13px;
  border: none;
  padding: 5px;
  margin-left: 30px;
  width: 300px;
  outline: none;
  border-bottom: 1px solid #ced4da;
}

.custom-input-select,
select::before {
  content: \f0ab;
}

.btn-next {
  padding: 5px;
  color: #fff;
  background-color: #f13643;
  border: none;
  border-radius: 15px;
  width: 130px;
  margin-top: 10px;
}

.btn-next:hover {
  opacity: 0.8;
}

.text-small {
  font-family: roboto-reguler;
  font-size: 9px;
}

.custom-card {
  font-family: metro-polis;
  font-size: 13px;
  border-radius: 20px;
}

.custom-card .card-body {
  padding: 20px;
}

.custom-card-2 {
  font-family: metro-polis, metro-polis-bold;
  font-size: 13px;
  border-radius: 20px;
}

.custom-card-2 .card-body {
  padding: 20px;
}

#step-2 {
  display: none;
}

#step-3 {
  display: none;
}

/* Mobile CSS */
